[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-filter = "*"
requests = "*"
redis = "*"
django-timezone-field = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
phonenumbers = "*"
pandas = "*"
numpy = "*"
scipy = "*"
stripe = "*"
django-phonenumber-field = "*"
django-pipeline = "*"
daphne = "*"
xhtml2pdf = "*"
django-rest-passwordreset = "*"
psycopg2-binary = "*"
django-redis = "*"
brevo-python = "*"
python-memcached = "*"
django-allauth = "*"
django-allauth-ui = "*"

[dev-packages]

[requires]
python_version = "3.12"
