[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xhtml2pdf = "*"
django-redis = "*"
brevo-python = "*"
python-memcached = "*"
django = ">=4.2"
psycopg2-binary = "*"
asgiref = "*"
pillow = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-filter = "*"
requests = "*"
redis = "*"
django-timezone-field = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
phonenumbers = "*"
pandas = "*"
numpy = "*"
scipy = "*"
stripe = "*"
django-phonenumber-field = "*"
django-pipeline = "*"
daphne = "*"
django-allauth-ui = "*"
django-widget-tweaks = "*"
slippers = "*"
django-allauth = {extras = ["socialaccount"], version = "*"}
dotenv = "*"
django-rest-passwordreset = "*"
python-decouple = "~=3.8"

[dev-packages]

[requires]
python_version = "3.12"
