django
pillow
djangorestframework
django-cors-headers
django-filter
requests
redis
django-timezone-field
djangorestframework-simplejwt
drf-yasg
phonenumbers
pandas
numpy
scipy
stripe
django-phonenumber-field
django-pipeline
daphne